{% extends "base.html" %}

{% block body_class %}error-404{% endblock %}

{% block content %}

    <div class="message-404">
        <h4 class="display-4">This page does not exist! {{ request.status }}</h4>
        <p class="m-3">
        <a href="/"></a><b>return to homepage</b></a></p>
        <div class="row">
            Search our site, or return home!
            <div class="col-sm-8 ml-auto mr-auto">
                <form class="form-inline" action="/users">
                    <input name="q" class="form-control mb-0 mr-2" placeholder="Search Warbler">
                    <button class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}